<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 맵퍼파일 생성 후 반드시 sql-map-config.xml 파일에 mapper 등록해줘야 함 -->
<mapper namespace="classMapper">
	<resultMap type="com.spring.biz.vo.ClassInfoVO" id="classInfo">
		<!-- CLASS_INFO 테이블 -->
		<result column="CLASS_NUM"    property="classNum"/>
		<result column="CLASSES_CODE"    property="classesCode"/>
		<result column="CLASS_TIME"    property="classTime"/>
		<result column="CLASS_LV"    property="classLv"/>
		<result column="CLASS_DATE"    property="classDate"/>
		<result column="LOC_CODE"    property="locCode"/>
		<result column="INST_NUM"    property="instNum"/>
		<result column="REG_MEMBER_CNT"    property="regMemberCnt"/>
		<result column="CLASS_INFO_DAY_CODE"    property="classInfoDayCode"/> <!-- 컬럼명 중복이라 임의로 다른이름 부여 -->
		<result column="CLASS_APPLY_START"    property="classApplyStart"/> <!-- 실제로 존재하는 컬럼X  -->
		<result column="CLASS_APPLY_END"    property="classApplyEnd"/> <!-- 실제로 존재하는 컬럼X  -->
		
		<!-- CLASSES 테이블 -->
		<result column="CLASSES_NAME"    property="classesName"/>
		<!-- CLASS_DAY 테이블 -->
		<result column="CLASS_DAY"    property="classDay"/>
		<result column="CLASS_DAY_CODE"    property="classDayCode"/>
		<!-- CLASS_LEVEL 테이블 -->
		<result column="LEVEL_CODE"    property="levelCode"/>
		<result column="LEVEL_NAME"    property="levelName"/>
		<result column="LEVEL_DETAIL"    property="levelDetail"/>
		<!-- CLASS_PLACE 테이블 -->
		<result column="PLACE_CODE"    property="placeCode"/>
		<result column="PLACE_NAME"    property="placeName"/>
		<!-- INSTRUCTOR_INFO 테이블 -->
		<result column="MEMBER_ID"    property="memberId"/>
		<!-- MEMBER_INFO 테이블 -->
		<result column="MEMBER_NAME"    property="memberName"/>
	</resultMap>
	
	<resultMap type="com.spring.biz.vo.ClassesVO" id="classes">
		<result column="CLASSES_CODE"    	property="classesCode"/>
		<result column="CLASSES_NAME"    	property="classesName"/>
		<result column="CLASSES_FEE"   		property="classesFee"/>
		<result column="CLASSES_DETAIL"		property="classesDetail"/>
		<result column="MIN_MEMBER"			property="minMember"/>
		<result column="MAX_MEMBER"			property="maxMember"/>
		<result column="FRONT_PLACE_CODE"	property="frontPlaceCode"/> <!-- 실제있는 컬럼은 아님 데이터조회용 -->
		<result column="FRONT_DAY_CODE"	property="frontDayCode"/>
	</resultMap>
	
	<resultMap type="com.spring.biz.vo.ClassPlaceVO" id="classPlace">
		<result column="PLACE_CODE"    				property="placeCode"/>
		<result column="PLACE_NAME"    				property="placeName"/>
		<result column="RENTAL_ALLTIME_CHARGE"   	property="rentalAlltimeCharge"/>
		<result column="RENTAL_HALFTIME_CHARGE"		property="rentalHalftimeCharge"/>
		<result column="AVAILABLE"					property="available"/>
		<result column="FRONT_PLACE_CODE"			property="frontPlaceCode"/>
	</resultMap>
	
	<resultMap type="com.spring.biz.vo.ClassDayVO" id="classDay">
		<result column="CLASS_DAY_CODE"    property="classDayCode"/>
		<result column="CLASS_DAY"    property="classDay"/>
	</resultMap>
	
	<resultMap type="com.spring.biz.vo.InstructorInfoVO" id="instructorInfo">
		<result column="INST_NUM"    property="instNum"/>
		<result column="MEMBER_ID"    property="memberId"/>
		<result column="MEMBER_NAME"    property="memberName"/>
		<result column="REG_NUM"    property="regNum"/>
		<result column="CAREER"    property="career"/>
		<result column="LICENSE"    property="license"/>
		<result column="PICTURE"    property="picture"/>
	</resultMap>
	
	<resultMap type="com.spring.biz.vo.ClassLevelVO" id="classLevel">
		<result column="LEVEL_CODE"    property="levelCode"/>
		<result column="CLASSES_CODE"    property="classesCode"/>
		<result column="LEVEL_NAME"    property="levelName"/>
		<result column="LEVEL_DETAIL"    property="levelDetail"/>
	</resultMap>
	
	<!-- <select id="getClassesList" resultMap="classes">
		SELECT CLASSES_CODE
		        , CLASSES_NAME
		        , CLASSES_FEE
		        , CLASSES_DETAIL
				, SUBSTR(CLASSES_CODE,1,1) AS FRONT_PLACE_CODE
				, FRONT_DAY_CODE 
		FROM CLASSES
	</select> -->
	
	<!-- <select id="selectClasses" resultMap="classes">
		SELECT C.CLASSES_CODE 
		        , C.CLASSES_NAME
				, SUBSTR(C.CLASSES_CODE,1,1) AS FRONT_PLACE_CODE 
                , I.CLASS_NUM  
		FROM CLASSES C, CLASS_INFO I
        WHERE C.CLASSES_CODE = I.CLASSES_CODE
        AND I.CLASS_NUM = #{classNum}
	</select> -->
	
	<!-- <select id="selectClassPlaceAll" resultMap="classPlace">
		SELECT PLACE_CODE
		        , PLACE_NAME
		        , RENTAL_ALLTIME_CHARGE
		        , RENTAL_HALFTIME_CHARGE
		        , AVAILABLE
		        , FRONT_PLACE_CODE
		FROM CLASS_PLACE
		WHERE AVAILABLE = 'Y'
	</select> -->
	
	<!-- <select id="selectClassPlaceFront" resultMap="classPlace">
		SELECT PLACE_CODE
		        , PLACE_NAME
		        , RENTAL_ALLTIME_CHARGE
		        , RENTAL_HALFTIME_CHARGE
		        , AVAILABLE
		        , FRONT_PLACE_CODE
		FROM CLASS_PLACE
		WHERE FRONT_PLACE_CODE = #{frontPlaceCode}
		AND AVAILABLE = 'Y'
	</select> -->
	
	
	<!-- <select id="selectClassDay" resultMap="classDay">
		SELECT CLASS_DAY_CODE
		    , CLASS_DAY
		FROM CLASS_DAY
		WHERE SUBSTR(CLASS_DAY_CODE,1,1) = #{frontClassDayCode}
	</select> -->
	
	<!-- <select id="selectInstructorInfo" resultMap="instructorInfo">
		SELECT I.INST_NUM, M.MEMBER_ID , M.MEMBER_NAME 
        FROM INSTRUCTOR_INFO I , MEMBER_INFO M
        WHERE I.MEMBER_ID = M.MEMBER_ID
        AND CLASSES_CODE = #{classesCode}
        ORDER BY MEMBER_NAME
	</select> -->
	
	<!-- <select id="selectClassLevel" resultMap="classLevel">
		SELECT LEVEL_CODE
		        , CLASSES_CODE
		        , LEVEL_NAME
		        , LEVEL_DETAIL
		FROM CLASS_LEVEL
	</select> -->
	
<!-- 	<insert id="insertLecture">
		INSERT INTO CLASS_INFO(
		    CLASS_NUM
		    , CLASSES_CODE
		    , CLASS_TIME
		    , CLASS_LV
		    , CLASS_DATE
		    , LOC_CODE
		    , INST_NUM
		    , REG_MEMBER_CNT
		    , CLASS_DAY_CODE
		) VALUES (
		    (SELECT NVL(MAX(CLASS_NUM)+1,1) FROM CLASS_INFO)
		    , #{classesCode}
		    , #{classTime}
		    , #{classLv}
		    , #{classDate}
		    , #{locCode}
		    , #{instNum}
		    , #{regMemberCnt}
		    , #{classDayCode}
		
		)
	</insert> -->
	
<!-- 	<select id="selectClassInfoList" resultMap="classInfo">
		SELECT *
		FROM(
		    SELECT ROW_NUMBER() OVER (ORDER BY I.CLASS_NUM) NUM
		            , I.CLASS_NUM
		            , I.CLASSES_CODE
		            , I.CLASS_TIME 
		            , I.CLASS_LV
		            , I.LOC_CODE
		            , I.INST_NUM
		            , I.REG_MEMBER_CNT
		            , TO_CHAR(I.CLASS_DATE, 'YYYY-MM-DD') AS CLASS_DATE
		            , C.CLASSES_NAME
		            , D.CLASS_DAY_CODE
		            , D.CLASS_DAY
		            , L.LEVEL_NAME
		            , L.LEVEL_DETAIL
		            , P.PLACE_CODE
		            , P.PLACE_NAME
		            , INST.MEMBER_ID
		            , M.MEMBER_NAME
		            , ADD_MONTHS (CLASS_DATE, -1) +10 AS CLASS_APPLY_START
		            , ADD_MONTHS (CLASS_DATE, -1) +20 AS CLASS_APPLY_END
		            FROM CLASS_INFO I, CLASSES C, CLASS_DAY D, CLASS_LEVEL L, CLASS_PLACE P, INSTRUCTOR_INFO INST, MEMBER_INFO M
		            WHERE I.CLASSES_CODE = C.CLASSES_CODE
		            AND I.CLASS_DAY_CODE = D.CLASS_DAY_CODE
		            AND I.CLASS_LV = L.LEVEL_CODE
		            AND I.LOC_CODE = P.PLACE_CODE
		            AND I.INST_NUM = INST.INST_NUM
		            AND INST.MEMBER_ID = M.MEMBER_ID
		            ORDER BY CLASS_NUM
		     ) 
		WHERE NUM BETWEEN #{startList} AND #{listSize}
	</select> -->
	
	
	<!-- <select id="selectClassInfo" resultMap="classInfo">
	SELECT I.CLASS_NUM
            , I.CLASSES_CODE
            , I.CLASS_TIME 
            , I.CLASS_LV
            , I.LOC_CODE
            , I.INST_NUM
            , I.REG_MEMBER_CNT
            , TO_CHAR(I.CLASS_DATE, 'YYYY-MM-DD') AS CLASS_DATE
            , I.CLASS_DAY_CODE AS CLASS_INFO_DAY_CODE
            , C.CLASSES_NAME
            , D.CLASS_DAY_CODE
            , D.CLASS_DAY
            , L.LEVEL_NAME
            , L.LEVEL_DETAIL
            , P.PLACE_CODE
            , P.PLACE_NAME
            , INST.MEMBER_ID
            , M.MEMBER_NAME
            , ADD_MONTHS (CLASS_DATE, -1) +10 AS CLASS_APPLY_START
		    , ADD_MONTHS (CLASS_DATE, -1) +20 AS CLASS_APPLY_END
            FROM CLASS_INFO I, CLASSES C, CLASS_DAY D, CLASS_LEVEL L, CLASS_PLACE P, INSTRUCTOR_INFO INST, MEMBER_INFO M
            WHERE I.CLASSES_CODE = C.CLASSES_CODE
            AND I.CLASS_DAY_CODE = D.CLASS_DAY_CODE
         
            AND I.CLASS_LV = L.LEVEL_CODE
            AND I.LOC_CODE = P.PLACE_CODE
            AND I.INST_NUM = INST.INST_NUM
            AND INST.MEMBER_ID = M.MEMBER_ID
            AND I.CLASS_NUM = #{classNum}
            ORDER BY CLASS_NUM
	</select> -->
	
<!-- 	<update id="modifyClassInfo">
		UPDATE CLASS_INFO
			SET
		    CLASSES_CODE = #{classesCode}
		    , CLASS_TIME = #{classTime}
		    , CLASS_LV = #{classLv}
		    , START_DATE = #{startDate}
		    , REG_START_DATE = #{regStartDate}
		    , REG_END_DATE = #{regEndDate}
		    , LOC_CODE = #{locCode}
		    , INST_NUM = #{instNum}
		    , CLASS_DAY_CODE = #{classDayCode}
		WHERE CLASS_NUM = #{classNum}
	</update> -->
	
<!-- 	<delete id="deleteClassInfo">
		DELETE CLASS_INFO
		WHERE CLASS_NUM = #{classNum}
	</delete> -->
	
	
	
	
	
	
	
</mapper>













