@charset "UTF-8";
/* 웹폰트 : 에스코어드림Md체 */
@font-face {
	font-family: 'S-CoreDream-5Medium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 웹폰트 : 에스코어드림Reg체 */
@font-face {
	font-family: 'S-CoreDream-4Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 웹폰트 : 나눔스퀘어라운드체 */
@font-face { 
	font-family: 'NanumSquareRound'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal;
}


.left {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.right {
    width: 50%;
    float: right;
    box-sizing: border-box;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 200%;
}

div.introTab ul > li{
	z-index: 1;	
}

p.centerImage{
	font-family: 'S-CoreDream-4Regular';
	font-size: 1.5em;
}

a.centerIntroNameA{
	font-family: 'NanumSquareRound';
	color: #0034a9;
}

.title{
	font-weight: bold;
	background-color: #F7F7F7;
}

table.centerInfoTable{
	border-top: 3px solid #0034a9;
	border-bottom: 1px solid #dddddd;
}

#loc_tx {
    position: relative;
    top: -33px;
    background: #f8f8f9;
    border: 1px solid #ddd;
    overflow: hidden;
    z-index: 11;
}

#loc_tx li:first-child {
    border-right: 1px solid #ddd;
}

#loc_tx li {
    width: 50%;
    float: left;
    padding: 30px 20px 30px 30px;
    position: relative;
}


       