@charset "UTF-8";

.carousel{
	z-index: 1;
}


/* 웹폰트 : 에스코어드림Md체 */
@font-face {
	font-family: 'S-CoreDream-5Medium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 웹폰트 : 에스코어드림Reg체 */
@font-face {
	font-family: 'S-CoreDream-4Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 웹폰트 : 에스코어드림Lt체 */
@font-face {
	font-family: 'S-CoreDream-3Light';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 버튼css */
/* .loginBtn, .joinBtn{
    height: 40px;
    padding: 0 18px;
    margin-right: 8px;
    box-sizing: border-box;
    font-size: 13px;
    color: #35477D;
    border: 1px solid white;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
} */






























       