@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  z-index: 6; 
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 6; 
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 6; 
}

.mainMenu{
	margin-bottom: 20px;
	z-index: 6; 
}

ul.mainMenu > li{
	display: inline-block; /* 하단메뉴 전체 인라인블록처리 */
	text-align: center;
	position: relative; /* 하단메뉴 안에 있는 서브메뉴를 아래에 위치시킴 */
  	z-index: 6; 
}

.subMenu{
	visibility: hidden;
	position: absolute; /* 하단메뉴 안에 있는 서브메뉴 위치를 고정 */
	color: black;
	font-size: 14px;
	width: 100px;
	background-color: white;
	opacity: 0;
	border: 1px solid #0034a9;
	left: -19px;
	text-align: center;
	z-index: 6; 
}

.subMenu > li{
	text-align: center;
	width: 98px;
	background-color: white;
	padding: 10px;
	z-index: 6; 
}

.mainMenu > li:hover,
,.subMenu > li:hover{
	background-color: white;
	cursor: pointer;
	color: black;
	z-index: 6; 
}

.mainMenu > li:hover .subMenu, .mainMenu > li:hover .subMenu:hover{
	visibility: visible;
	opacity: 1;
	cursor: pointer;
	z-index: 6; 
	/* top: 30px; */
}

.mainMenuA{
	color: white;
	text-decoration: none;		
	z-index: 6; 
}

.titleName:hover{
	cursor: pointer;
}

.titleNameDiv {
	width: 60%;
} 

.titleName {
	max-width: 100%;
	height: auto;
}

input[type="button"].logoutBtn
, input[type="button"].myInfoBtn{
	background-color: #ffcc00;
	color: #0034a9;
	width: 73px;
	margin-right: 0;
	padding: 0;
	font-family:'S-CoreDream-3Light';
	font-weight: bold;
	font-size: 12px;
}

input[type="button"].logoutBtn:hover
, input[type="button"].myInfoBtn:hover{
	cursor: pointer;
	background-color: #0034a9;
	color: #ffcc00;
	font-family:'S-CoreDream-3Light';
	font-weight: bold;
	font-size: 12px;
}

.loginA:link { color: #ffcc00; text-decoration: none;}
.loginA:visited { color: #ffcc00; text-decoration: none;}
.loginA:hover { color: #ffcc00; text-decoration: underline; cursor: pointer;}

.joinA:link { color: #ffcc00; text-decoration: none;}
.joinA:visited { color: #ffcc00; text-decoration: none;}
.joinA:hover { color: #ffcc00; text-decoration: underline; cursor: pointer;}

.titleA:link { color: white; text-decoration: none;}
.titleA:visited { color: white; text-decoration: none;}
.titleA:hover { color: white; text-decoration: none; cursor: pointer;}

.mainMenuA:link { color: white; text-decoration: none;}
.mainMenuA:visited { color: white; text-decoration: none;}
.mainMenuA:hover { color: white; text-decoration: none; cursor: pointer;}

.subMenuA:link { color: #0034a9; text-decoration: none;}
.subMenuA:visited { color: #0034a9; text-decoration: none;}
.subMenuA:hover { color: #0034a9; text-decoration: underline; cursor: pointer;}

/* 웹폰트 : 에스코어드림Md체 */
@font-face {
	font-family: 'S-CoreDream-5Medium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 웹폰트 : 에스코어드림Reg체 */
@font-face {
	font-family: 'S-CoreDream-4Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 웹폰트 : 에스코어드림Lt체 */
@font-face {
	font-family: 'S-CoreDream-3Light';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 버튼css */
/* .loginBtn, .joinBtn{
    height: 40px;
    padding: 0 18px;
    margin-right: 8px;
    box-sizing: border-box;
    font-size: 13px;
    color: #35477D;
    border: 1px solid white;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
} */






























       