@charset "UTF-8";

#searchPw:hover, #login:hover {
	cursor: pointer;
}

.contentsTitle1 {
    border-bottom: 1px solid #f0f0f0;
}

.contentsTitle2 {
    height: 100px;
    border-bottom: 1px solid #f0f0f0;
}

h1.contentsTitle{
	line-height: 80px;
	font-weight: bold;
	text-align: center;
}

table.searchIdTable{
	border-top: 3px solid #0034a9;
	border-bottom: 1px solid #dddddd;
}

.title{
	font-weight: bold;
	background-color: #F7F7F7;
	text-align: center;
	vertical-align: middle !important;
}

input[type="text"]
, select{
	border: 1px solid #ddd;
	height: 28px;
}

input[type="submit"]{
	width: 194px;
	height: 38px;
	margin: 0px 3px 0px 3px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px !important;
    color: red;
    font-weight: lighter !important;
}     