@charset "UTF-8";

.contentsTitle1 {
    border-bottom: 1px solid #f0f0f0;
}

.contentsTitle2 {
    height: 100px;
    border-bottom: 1px solid #f0f0f0;
}

h1.contentsTitle{
	line-height: 80px;
	font-weight: bold;
	text-align: center;
}

table.selectClassListByAdminTable{
	border-top: 3px solid #0034a9;
	border-bottom: 1px solid #dddddd;
}

.title{
	font-weight: bold;
	background-color: #F7F7F7;
	text-align: center;
	vertical-align: middle !important;
}

.content{
	text-align: center;
	vertical-align: middle !important;
}